# Title
## Heading
### heading 

This is my hypothesis

- bullet
- bullet

In [ ]:
! pip install pandas_profiling

In [32]:
# imports

In [5]:
import math

math.cos(1)

0.5403023058681398

In [8]:
x = 2.5
type(x)

float

In [10]:
b1 = True
type(b1)

bool

In [14]:
mystring = "i don't know"
mystring

"i don't know"

In [ ]:


from math import *

In [ ]:
?log

In [ ]:
print( log(10) )
print( log(10,2) )

In [16]:
import types

print(dir(type))

['__abstractmethods__', '__base__', '__bases__', '__basicsize__', '__call__', '__class__', '__delattr__', '__dict__', '__dictoffset__', '__dir__', '__doc__', '__eq__', '__flags__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__instancecheck__', '__itemsize__', '__le__', '__lt__', '__module__', '__mro__', '__name__', '__ne__', '__new__', '__prepare__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasscheck__', '__subclasses__', '__subclasshook__', '__text_signature__', '__weakrefoffset__', 'mro']

In [17]:
# this is a commet
print('hello')  # this is an inline comment

hello

In [ ]:
# this is the size of the swimming pool, measured in meters
size_of_pool = 20

In [22]:
x = 1

x == 1

True

# Lists

In [43]:
# 
mylist = [1,2,3, 2.0, 'hello world']

mylist

[1, 2, 3, 2.0, 'hello world']

# Slicing

In [37]:
mylist[4]

'hello world'

In [53]:
mylist = [1,2,3, 2.0, 'hello world']

mylist[0:4]

[1, 2, 3, 2.0]

In [47]:
mylist[4] = 'bruce'
mylist

[1, 2, 3, 2.0, 'bruce']

In [45]:

mylist[-1]

'hello world'

# Tuples

In [51]:
point = (10, 20)
point

(10, 20)

# Destructuring

In [55]:
x, y = point
print(x)
print(y)

10
20

In [57]:
x, y = 2, 3

x = 2
y = 3

print(x)
print(y)

2
3

# Dictionaries

In [63]:
mydict = {'bruce': 29,  'sally':13, 'charlie':11 }
mydict.get('sally')

type(mydict)

dict

# Activity 1


Q1.  
  
Start  
- r = 3  
- area = Pi x r^2  
- print area  
  
End

Q2.

Start
1. num = 4
2. square = num x num
2. print square
3. Is num > 10?
4. If yes then 
5. cube = num x num x num
6. print cube
6. if no then nothing
 
End

Q3. 

Start    
sentence = "Python is awesome"    
for letter in sentence    
print the letter   

end

# Data Structures

In [69]:
import numpy as np
a = np.array([[1,2,3], [4,5,6]])

a * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [73]:
np.matrix([[1,2,3], [4,5,6]])

matrix([[1, 2, 3],
        [4, 5, 6]])

In [77]:
import pandas as pd

# Lists
df = pd.DataFrame([1,2,3])
df.columns = ['num_children']
df

   num_children
0             1
1             2
2             3

In [80]:
# Dataframe from Dict
df = pd.DataFrame({'names': ['bruce', 'charlie', 'sally']})
df

     names
0    bruce
1  charlie
2    sally

In [81]:
df = pd.read_csv('titanic.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
df['Age'].mean()

29.69911764705882

In [88]:
df.shape

(891, 12)

# If statements

In [93]:
a = 10000
b = 10000


if a == b:
    print('A equals B')
elif a == 10000:
    print('special ****')
else:
    print('a is less than b')

A equals B

# Logical Operators

In [96]:
a = 10000
b = 10000


if a == b or b > 5:
    print('yes')

# For Loops

In [102]:
import numpy as np

In [101]:
# print all the numbers between 0 and 100

for r in range(0,100):
    print( pi * r **2 )

0.0
3.141592653589793
12.566370614359172
28.274333882308138
50.26548245743669
78.53981633974483
113.09733552923255
153.93804002589985
201.06192982974676
254.46900494077323
314.1592653589793
380.132711084365
452.3893421169302
530.929158456675
615.7521601035994
706.8583470577034
804.247719318987
907.9202768874502
1017.8760197630929
1134.1149479459152
1256.6370614359173
1385.4423602330987
1520.53084433746
1661.9025137490005
1809.5573684677208
1963.4954084936207
2123.7166338267
2290.221044466959
2463.0086404143976
2642.079421669016
2827.4333882308138
3019.0705400997913
3216.990877275948
3421.194399759285
3631.681107549801
3848.4510006474966
4071.5040790523717
4300.840342764427
4536.459791783661
4778.362426110075
5026.548245743669
5281.017250684442
5541.769440932395
5808.804816487527
6082.12337734984
6361.725123519331
6647.610054996002
6939.778171779853
7238.229473870883
7542.9639612690935
7853.981633974483
8171.282491987052
8494.8665353068
8824.73376393373
9160.884177867836
9503.317777109125
9852.03456165759
10207.034531513238
10568.317686676064
10935.88402714607
11309.733552923255
11689.86626400762
12076.282160399165
12468.981242097889
12867.963509103793
13273.228961416877
13684.77759903714
14102.609421964582
14526.724430199203
14957.122623741005
15393.804002589986
15836.768566746146
16286.016316209487
16741.54725098001
17203.36137105771
17671.458676442588
18145.839167134644
18626.502843133883
19113.4497044403
19606.6797510539
20106.192982974677
20611.989400202634
21124.069002737768
21642.431790580085
22167.07776372958
22698.006922186254
23235.21926595011
23778.714795021144
24328.49350939936
24884.55540908475
25446.900494077323
26015.528764377075
26590.440219984008
27171.63486089812
27759.112687119414
28352.873698647883
28952.917895483533
29559.245277626364
30171.855845076374
30790.74959783356

# List comprehension

In [113]:
# Method 1
for r in range(0,100):
    print( np.round(pi * r **2, 1) )
    
# Method 2    
[pi * r **2, 2) for r in range(0,100) ]

[0.0,
 3.1400000000000001,
 12.57,
 28.27,
 50.270000000000003,
 78.540000000000006,
 113.09999999999999,
 153.94,
 201.06,
 254.47,
 314.16000000000003,
 380.13,
 452.38999999999999,
 530.92999999999995,
 615.75,
 706.86000000000001,
 804.25,
 907.91999999999996,
 1017.88,
 1134.1099999999999,
 1256.6400000000001,
 1385.4400000000001,
 1520.53,
 1661.9000000000001,
 1809.5599999999999,
 1963.5,
 2123.7199999999998,
 2290.2199999999998,
 2463.0100000000002,
 2642.0799999999999,
 2827.4299999999998,
 3019.0700000000002,
 3216.9899999999998,
 3421.1900000000001,
 3631.6799999999998,
 3848.4499999999998,
 4071.5,
 4300.8400000000001,
 4536.46,
 4778.3599999999997,
 5026.5500000000002,
 5281.0200000000004,
 5541.7700000000004,
 5808.8000000000002,
 6082.1199999999999,
 6361.7299999999996,
 6647.6099999999997,
 6939.7799999999997,
 7238.2299999999996,
 7542.96,
 7853.9799999999996,
 8171.2799999999997,
 8494.8700000000008,
 8824.7299999999996,
 9160.8799999999992,
 9503.3199999999997,
 9852.0300000000007,
 10207.030000000001,
 10568.32,
 10935.879999999999,
 11309.73,
 11689.870000000001,
 12076.280000000001,
 12468.98,
 12867.959999999999,
 13273.23,
 13684.780000000001,
 14102.610000000001,
 14526.719999999999,
 14957.120000000001,
 15393.799999999999,
 15836.77,
 16286.02,
 16741.549999999999,
 17203.360000000001,
 17671.459999999999,
 18145.84,
 18626.5,
 19113.450000000001,
 19606.68,
 20106.189999999999,
 20611.990000000002,
 21124.07,
 21642.43,
 22167.080000000002,
 22698.009999999998,
 23235.220000000001,
 23778.709999999999,
 24328.490000000002,
 24884.560000000001,
 25446.900000000001,
 26015.529999999999,
 26590.439999999999,
 27171.630000000001,
 27759.110000000001,
 28352.869999999999,
 28952.919999999998,
 29559.25,
 30171.860000000001,
 30790.75]

# While statment

In [104]:
i = 0
while i < 100:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# Functions

In [120]:
# Area of circle

r = 3

def area_circle(radius=2):
    area = pi * (radius**2)
    
    return area

area_circle(r)

28.274333882308138

# Question 1

In [125]:
# calc and print square of 
# number and if num > 10 then print cube

def myfunc(x):
    cubed = 0
    squared = x**2
    
    if x>10:
        cubed = x**3
    
    return squared, cubed
        

myfunc(12)

(144, 1728)

# question 2

In [130]:
mystring = 'python is awesome'

def myfunc(mystring):
    for l in mystring:
        print(l)
    
myfunc('python is awesome')

p
y
t
h
o
n

i
s

a
w
e
s
o
m
e